.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 40rem) {
  .container {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 48rem) {
  .container {
    max-width: 48rem;
    padding-left: 2.44rem;
    padding-right: 2.5rem;
  }
}

@media screen and (min-width: 64rem) {
  .container {
    max-width: 64rem;
  }
}

@media screen and (min-width: 73.375rem) {
  .container {
    max-width: 73.375rem;
  }
}