.main {
  padding-bottom: 5rem;
  background: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
}

@media screen and (min-width: 40rem) {
  .main {
    padding-bottom: 5.38rem;
  }
}

@media screen and (min-width: 64rem) {
  .main {
    padding-bottom: 8.75rem;
  }
}